<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IniServlet</servlet-name>
        <servlet-class>Controlador.IniServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>Controlador.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedorServlet</servlet-name>
        <servlet-class>Controlador.ProveedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoServlet</servlet-name>
        <servlet-class>Controlador.ProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>Controlador.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrabajadorServlet</servlet-name>
        <servlet-class>Controlador.TrabajadorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Controlador.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitasServlet</servlet-name>
        <servlet-class>Controlador.CitasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuejasServlet</servlet-name>
        <servlet-class>Controlador.QuejasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultorioServlet</servlet-name>
        <servlet-class>Controlador.ConsultorioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniServlet</servlet-name>
        <url-pattern>/IniServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorServlet</servlet-name>
        <url-pattern>/ProveedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoServlet</servlet-name>
        <url-pattern>/ProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrabajadorServlet</servlet-name>
        <url-pattern>/TrabajadorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitasServlet</servlet-name>
        <url-pattern>/CitasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuejasServlet</servlet-name>
        <url-pattern>/QuejasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultorioServlet</servlet-name>
        <url-pattern>/ConsultorioServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
